body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.navbar {
    height: 80px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}


.navbar.expanded {
    height: auto;
    margin-bottom: 20px;
}

.form-container {
background-color: #D3D3D3;
width: 400px;
padding: 10px;
margin: auto;
border-radius: 10px;
}

.form {
width: auto;
height: auto;
text-align: center
}