@import models.DataModel
@import helper._

@(userForm: Form[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("Add User"){
<div>
    @helper.form(action = routes.ApplicationController.addBookForm()) {
    @helper.CSRF.formField
    @helper.inputText(userForm("userName"))
    @helper.inputText(userForm("dateAccount"))
    @helper.inputText(userForm("location"))
    @helper.inputText(userForm("numberOfFollowers"))
    @helper.inputText(userForm("numberFollowing"))
    @helper.inputText(userForm("gitHubAccount"))
    <input class="submitButton" type="submit" value="Submit">
    }
</div>
}
