@import models.DataModel
@import helper._

@(userForm: Form[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("Add User"){
<div class ="adduser-container">
<h1 class="title">Create Database User</h1>
    <div class="form-container">
        <div class="form">
            @helper.form(action = routes.ApplicationController.createDatabaseUserForm()) {
            @helper.CSRF.formField

            <div class="field-cont">
                <div class="input-fields">
                    <span>User Name:</span>
                    @helper.inputText(userForm("userName"), Symbol("placeholder") -> "Github user name")
                </div>
                <div class="input-fields">
                    <span>Account Creation:</span>
                    @helper.inputText(userForm("dateAccount"), Symbol("placeholder") -> "Date ('yyyy-mm-dd')")
                </div>
                <div class="input-fields">
                    <span>Location:</span>
                    @helper.inputText(userForm("location"), Symbol("placeholder") -> "Tooting, London")
                </div>
                <div class="input-fields">
                    <span>No. of Followers:</span>
                    @helper.inputText(userForm("numberOfFollowers"), Symbol("placeholder") -> "0")
                </div>
                <div class="input-fields">
                <span>No. Following:</span>
                @helper.inputText(userForm("numberFollowing"), Symbol("placeholder") -> "0")
                </div>
                <div class="input-fields">
                <span>GitHub Account:</span>
                @helper.inputText(userForm("gitHubAccount"), Symbol("placeholder") -> "Yes/No")
                </div>
            </div>

                <input class="buttons crt-btn" type="submit" value="Submit">
            }
        </div>
    </div>
</div>
<img class="robot-left" src="@routes.Assets.versioned("images/builder-robot.png")" alt="builder robot"/>
}
