@import models.DataModel
@import helper._

@(userName:String, repoName:String,  createForm: Form[CreateFileModel], path:Option[String]= None)(implicit request: RequestHeader, messages: Messages)

@main("Create File"){
<div class ="adduser-container">
    <h1 class="title">Create File</h1>
    <div class="form-container">
        <p>Create New File</p>
        <div class="form">
            @helper.form(action = routes.GitHubRepoController.createFile(userName, repoName, path)) {

            @helper.CSRF.formField
            @helper.inputText(createForm("message"))
            @helper.inputText(createForm("content"))
            @helper.inputText(createForm("fileName"))
            <input class="buttons" type="submit" value="Submit">
            }
        </div>
    </div>
</div>
<img class="peace-robot" src="@routes.Assets.versioned("images/peace-robot.png")" alt="robot throwing peace signs"/>
}