
@(repoContents: Option[Seq[TopLevelModel]], userName: String, repoName: String)(implicit request: RequestHeader, messages: Messages)

@main("Display Repo Contents") {

    @repoContents.map { repoContentsSeq =>
        @if(repoContentsSeq.nonEmpty) {
            <div class="content-title">
                <h1>Repository Files & Folders</h1>
            </div>
            <div class="public-repos-container">
            @for(repoContents <- repoContentsSeq) {
                <div class="form-container">
                    @if(repoContents.format == "file") {
                    <p>
                        <a href="@routes.ApplicationController.getGitRepoFileContent(userName, repoName, repoContents.path)">
                            <button class="repo-buttons"><a href="@routes.GitHubRepoController.displayDeleteForm(userName,repoName,repoContents.sha, repoContents.path, repoContents.name)">Delete</a></button>
                            <img class="icon" src="@routes.Assets.versioned("images/file.png")" alt="file icon">
                            @repoContents.name
                        </a>
                    </p>
                    <p>
                    } else {
                    <p>

                        <a href="@routes.ApplicationController.openGitDir(userName, repoName, repoContents.path)">
                            <img class="icon" src="@routes.Assets.versioned("images/folder-icon.png")" alt="folder icon">
                            @repoContents.name
                        </a>
                    </p>
                    }
                </div>
            }

            </div>
        <div class="display-repo-btn">
            <button class="buttons">Go Back Not actioned!</button>
        </div>
        } else {
            <h1>No Public Repo's found</h1>
        }
    }.getOrElse {
        <h1>No Public Repo's found</h1>
    }
<img class="waving-robot" src="@routes.Assets.versioned("images/file-robot.png")" alt="robot waving"/>
}
