@(userForm: Form[UserSearchParameter], user: DataModel)(implicit request: RequestHeader, messages: Messages)
@main("display user"){


<h1 class="title">Find User Profile</h1>

<div class="search-container">
    <form action="@routes.ApplicationController.readDatabaseOrAddFromGithub()" method="GET" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search" name="User Name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
    <div>

    </div>

}