@(dataModel: DataModel)
@import models.DataModel
@import helper._
@(user: DataModel)
@main("display user"){


<h1 class="title">Find User Profile</h1>

<div class="search-container">
    <form action="@routes.ApplicationController.findUser()" method="GET" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search" name="User Name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>


<div class="form-container">
<div class = "form">
    @for(result <- results) {
    <p><strong>Username:</strong> @dataModel.userName</p>
    <p><strong>Date Account Created:</strong> @dataModel.dateAccount</p>
    <p><strong>Location:</strong> @dataModel.location</p>
    <p><strong>Number of Followers:</strong> @dataModel.numberOfFollowers</p>
    <p><strong>Number Following:</strong> @dataModel.numberFollowing</p>
    <p><strong>Has GitHub Account:</strong> @if(dataModel.gitHubAccount) { Yes } else { No }</p>
    }
</div>
<div class ="buttons">
    <button>Go Back</button>
    <button>Edit User</button>
    <button>Delete User</button>
</div>
</div>
}