@(userForm: Form[UserSearchParameter], user: Option[DataModel])(implicit request: RequestHeader, messages: Messages)
@main("Display User") {

<div class="search-container">
    <h1 class="find-title">Find User Profile</h1>

    <form action="@routes.GitHubRepoController.loginAUser()" method="GET" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search" name="userName">
        <button class="buttons" type="submit">Search</button>
    </form>
</div>

@userForm.globalError.map { error =>
<div class="alert alert-danger">
    @error.message
</div>
}

@if(userForm.hasErrors) {
<div class="alert alert-danger">
    @for(error <- userForm.errors) {
    <p>@error.message</p>
    }
</div>
}
@if(user.isDefined) {
<div class="user-details-container">
    <h3>You are logged in as:</h3>
    <div class="form-container">
        <p><strong>Username:</strong> @user.get.userName</p>
    </div>
    <div class="btn-row">
        <button class="buttons"><a href="@routes.GitHubRepoController.getGitHubRepos(user.get.userName)">Repositories</a> </button>
        <button class="buttons"><a href="@routes.GitHubRepoController.getGitHubRepos(user.get.userName)">Repositories</a> </button>
        <button class="buttons goBack">Go Back</button>
    </div>
</div>
} else {
@if(userForm.hasErrors || request.queryString.contains("userName")) {
<h2 class="not-found">No user found, try again.</h2>
}
}
<img class="robot-right" src="@routes.Assets.versioned("images/info-robot.png")" alt="robot giving thumbs up"/>
}
