@import helper._
@(fileContent: Form[UpdateFileModel], userName: String, repoName: String, path: String)(implicit request: RequestHeader, messages: Messages)

@main("File Content") {
<div class="file Content">
    <pre></pre>
    <div class ="adduser-container">
        <h1 class="title">Edit File</h1>
        <div class="form-container">
            <div class="form">
                @helper.form(action = routes.GitHubRepoController.editContent(userName, repoName, path)) {

                <div>
                    <p>File Name:</p>
                    @helper.textarea(fileContent("path"), Symbol("required") -> "false" , Symbol("_label") -> "")
                </div>


                <div>
                    <p>File Content:</p>
                    @helper.textarea(fileContent("content"), Symbol("required") -> "false" , Symbol("_label") -> "", Symbol("rows")  -> 10, Symbol("cols") -> 50)
                </div>

                <div>
                    <p>Commit Message:</p>
                    @helper.textarea(fileContent("message"), Symbol("required") -> "false" , Symbol("_label") -> "")
                </div>

                @helper.CSRF.formField
                <input type="hidden" name="sha" value='@fileContent("sha").value.getOrElse("")' />


                <input class="buttons" type="submit" value="Submit">
                }
            </div>
        </div>
    </div>
</div>

}