@import helper._
@(fileContent: Form[FileContent], userName: String, repoName: String, path: String, fileName: String)(implicit request: RequestHeader, messages: Messages)

@main("File Content") {
    <div class="file Content">

        <div class="header-Content">
        <p class ="userName/repoName-Content">@userName / @repoName</p>
        </div>
        <div>
        <p class ="fileName-Content">@fileName</p>
        </div>

        <pre>@fileContent("content").value</pre>


        <div class ="editContent-container">
            <h1 class="title">Edit File</h1>
            <div class="edit-form-container">
                <div class="edit-form">
                    @helper.form(action = routes.GitHubRepoController.displayEditContent(userName, repoName, path)) {

                    @helper.CSRF.formField
                    <input type="hidden" name="content" value='@fileContent("content").value.getOrElse("")' />
                    <input type="hidden" name="sha" value='@fileContent("sha").value.getOrElse("")' />
                    <input type="hidden" name="path" value='@fileContent("path").value.getOrElse("")' />
                    <input class="buttons" type="submit" value="edit">
                    }
                </div>
            </div>
        </div>

        <button class="repo-buttons"><a href="@routes.GitHubRepoController.getGitDirsAndFiles(userName, repoName)">Return to Repository</a></button>

    </div>

}